.About{
   min-height:620px;
   background-color: #F6F6F6;
   position: relative;
}
.top{
   position: fixed;
   right: 10%;
   bottom: 10%;   
   width: 40px;
   height: 40px;
   background-color: #DFBB7F;;
   z-index:100;
   display: flex;
   justify-content:center;
   align-items: center;
   border-radius:50%;
}
.top i{
   font-size:20px;
   color: #032546;
}
.About .container{
   padding-top: 60px;
   display: flex;
   justify-content: space-between;
}
.About .container img{
   width: 50%;
   object-fit: cover;
}
.About .container .content{
   padding-bottom: 80px;
   width: 50%;
   display: flex;
   flex-direction: column;
   justify-content:space-between;
}
.About .container .content .btn-second a{
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 24px;
   color: #37474F;
   position: relative;
}
.About .container .content .btn-second a svg{
   position:absolute;
   top: 10px;
   left: 60px;
}
.About .container .content p{
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 130%;
   color: #37474F;
   margin-top: 20px;
}