.Navbar {
   width: 100%;
   height: 81px;
   background: #37474F;
   box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
   display: flex;
   justify-content: space-between;
}
.Navbar .container {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.Navbar .container ul{
   display: flex;
   width: 70%;
   justify-content: space-between;
   align-items: center;
}
.Navbar .container ul li a{
   font-style: normal;
   font-weight: 500;
   font-size: 18px;
   line-height: 27px;
   color: #FFFFFF;
}
.Navbar .container .ham{
   width: 40px;
   height: 30px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items:flex-end;
   display:none;
}
.Navbar .container .ham li{
   width: 100%;
   height: 5px;
   background-color: white;
   border-radius: 5px;
}
.Navbar .container .ham li:nth-child(2){
   width: 70%;
}
@media only screen and (max-width : 1100px){
   .Navbar .container .ham{
      display: block;
      display: flex;
   }
   .Navbar .container ul{
      display: none;
   }
}